@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  #place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    outline-color: rgb(24, 197, 24);
  }
    #place-order-left #multi-fields{
      display: flex;
      gap: 10px;
    }
  @media (max-width: 750px) {
    #cart {
      flex-direction: column-reverse;
    }
  }
}
